#   BOARD PINS
#   FPGA pins:
set_io LED B6
set_io CLK D1
# set_io RX  A3
# set_io TX  B3

#   PMOD FULL (PMOD3)
#   FPGA pins:
#     ----------
#    | B4    C6 | <
#    | B5    E3 |
#    | E1    C2 |
#    | B1    A1 |
#    | GND  GND |
#    | 3V3  3V3 |
#     ----------
set_io PMOD1_D4 B4
set_io PMOD2_D0 C6
set_io PMOD3_D5 B5
set_io PMOD4_D1 E3
set_io PMOD5_D6 E1
set_io PMOD6_D2 C2
set_io PMOD7_D7 B1
set_io PMOD8_D3 A1